<div class="form-body">
    <div class="row">
        <div class="form-holder bg-secondary-subtle">
            <div class="form-content">
                <div class="form-items border border-primary bg-light">
                   <h3 class="text-center">Bienvenido a Cinunivers</h3>
                   <p class="text-sm-center fs-6">Registrate para que te enteres de todas las novedades</p>
                   <form class="requires-validation" novalidate>
 
                     <!-- <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label text-dark">Nombre</label>
                        <input [(ngModel)]="nombre" name="nombre" type="text" class="form-control border border border-primary bg-light text-dark" aria-label="Sizing example input" placeholder="Nombre" aria-describedby="inputGroup-sizing-default">
                        <label [hidden]="!validCamp" class="form-label text-danger">Este campo es obligatorio</label> 
                     </div> -->

                     <div class="input-group input-group-sm mb-3">
                      <span class="input-group-text" id="inputGroup-sizing-sm">Nombre</span>
                      <input [(ngModel)]="nombre" name="nombre" type="text" placeholder="Nombre" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                      
                    </div>

                    <div class="mb-3">
                      <label [hidden]="!validCamp" class="form-label text-danger fs-6">Este campo es obligatorio</label> 
                    </div>
 
                      <!-- <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label text-dark">Nombre</label>
                        <input type="email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" name="floating_email" id="floating_email" class="form-control border border border-primary bg-light text-dark" id="exampleInputEmail1" placeholder="Correo Electrónico" aria-describedby="emailHelp">
                        <label [hidden]="!validCamp" class="form-label text-danger">Este campo es obligatorio</label>
                        <label [hidden]="!invalidEmail" class="form-label text-danger">El formato de correo debe ser gmail.com</label>
                        <label [hidden]="!regisEmail" class="form-label text-danger">El correo ya esta en uso</label>
                      </div> -->

                      <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Correo Electrónico</span>
                        <input [(ngModel)]="email" name="floating_email" type="text" placeholder="Correo Electronico" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                        
                      </div>

                      <div class="mb-3">
                        <label [hidden]="!validCamp" class="form-label text-danger fs-6">Este campo es obligatorio</label>
                        <label [hidden]="!invalidEmail" class="form-label text-danger fs-6">El formato de correo debe ser gmail.com</label>
                        <label [hidden]="!regisEmail" class="form-label text-danger fs-6">El correo ya esta en uso</label>
                      </div>
 
                      <!-- <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label text-dark">Nombre</label>
                        <input type="text" [(ngModel)]="usuario" name="usuario" class="form-control border border border-primary bg-light text-dark" placeholder="Usuario" id="exampleInputPassword1">
                        <label [hidden]="!validCamp" class="form-label text-danger">Este campo es obligatorio</label>
                        <label [hidden]="!userInvalid" class="form-label text-danger">El usuario ya esta en uso</label>
                      </div> -->

                      <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Usuario</span>
                        <input [(ngModel)]="usuario" name="usuario" type="text" placeholder="Usuario" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                        
                    </div>

                    <div class="mb-3">
                      <label [hidden]="!validCamp" class="form-label text-danger fs-6">Este campo es obligatorio</label>
                      <label [hidden]="!userInvalid" class="form-label text-danger fs-6">El usuario ya esta en uso</label> 
                   </div>
 
                      <!-- <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label text-dark">Nombre</label>
                        <input type="password" [(ngModel)]="contrasena" name="contrasena" class="form-control border border border-primary bg-light text-dark" placeholder="Contraseña" id="exampleInputPassword1">
                        <label [hidden]="!validCamp" class="form-label text-danger">Este campo es obligatorio</label> 
                     </div> -->

                     <div class="input-group input-group-sm mb-3">
                      <span class="input-group-text" id="inputGroup-sizing-sm">Contraseña</span>
                      <input [(ngModel)]="contrasena" name="contrasena" type="password" placeholder="Contraseña" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                      
                    </div>

                    <div class="mb-3">
                      <label [hidden]="!validCamp" class="form-label text-danger fs-6">Este campo es obligatorio</label>
                    </div>

                      <!-- <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label text-dark">Nombre</label>
                        <input type="password" [(ngModel)]="contrasenaConfir" name="contrasenaConfir" class="form-control border border border-primary bg-light text-dark" placeholder="Confirmar Contraseña" id="exampleInputPassword1">
                        <label [hidden]="!validCamp" class="form-label text-danger">Este campo es obligatorio</label>
                        <label [hidden]="!userInvalid" class="form-label text-danger">El usuario ya esta en uso</label>
                      </div> -->

                      <div class="input-group input-group-sm mb-3">
                      <span class="input-group-text" id="inputGroup-sizing-sm">Confirmar Contraseña</span>
                      <input [(ngModel)]="contrasenaConfir" name="contrasenaConfir" type="password" placeholder="Confirmar Contraseña" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                      
                    </div>

                    <div class="mb-3">
                      <label [hidden]="!validCamp" class="form-label text-danger fs-6">Este campo es obligatorio</label> 
                    </div>

                      <div [hidden]="!contraConfir" class="alert alert-danger" role="alert">
                        No conciden las contraseñas
                      </div>

                      <div class="input-group mb-3">
                        <input type="password" class="form-control" id="inputPassword">
                        <button class="btn btn-outline-secondary" type="button" id="togglePassword">
                          <i class="fa-solid fa-ghost"></i>
                        </button>
                      </div>
 
                      <div class="d-grid gap-2 d-md-block">
                            <button id="submit" (click)="saveCliente()" type="submit" class="btn btn-primary">Register</button>
                            <label class="text-black bg-white ms-2" for="">¿Ya tienes cuenta?</label>
                            <button type="button" (click)="acceso()" class="btn btn-link">Login</button>
                      </div>
                   </form>
                </div>
            </div>
        </div>
    </div>
 </div>
 


 
 
  