<div class="form-body">
    <div class="row">
        <div class="form-holder">
            <div class="form-content">
                <div class="form-items">
                   <h3>Register Today</h3>
                   <p>Fill in the data below.</p>
                   <form class="requires-validation" novalidate>
 
                     <div class="mb-3">
                        <input [(ngModel)]="nombre" name="nombre" type="text" class="form-control border" aria-label="Sizing example input" placeholder="Nombre" aria-describedby="inputGroup-sizing-default">
                        <label [hidden]="!validCamp" class="form-label text-danger">Este campo es obligatorio</label> 
                     </div>
 
                      <div class="mb-3">
                        <input type="email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" name="floating_email" id="floating_email" class="form-control border" id="exampleInputEmail1" placeholder="Correo Electrónico" aria-describedby="emailHelp">
                        <label [hidden]="!validCamp" class="form-label text-danger">Este campo es obligatorio</label>
                        <label [hidden]="!invalidEmail" class="form-label text-danger">El formato de correo debe ser gmail.com</label>
                        <label [hidden]="!regisEmail" class="form-label text-danger">El correo ya esta en uso</label>
                      </div>
 
                      <div class="mb-3">
                        <input type="text" [(ngModel)]="usuario" name="usuario" class="form-control border" placeholder="Usuario" id="exampleInputPassword1">
                        <label [hidden]="!validCamp" class="form-label text-danger">Este campo es obligatorio</label>
                        <label [hidden]="!userInvalid" class="form-label text-danger">El usuario ya esta en uso</label>
                      </div>
 
                      <div class="mb-3">
                        <input type="password" [(ngModel)]="contrasena" name="contrasena" class="form-control border" placeholder="Contraseña" id="exampleInputPassword1">
                        <label [hidden]="!validCamp" class="form-label text-danger">Este campo es obligatorio</label> 
                     </div>

                      <div class="mb-3">
                        <input type="password" [(ngModel)]="contrasenaConfir" name="contrasenaConfir" class="form-control border" placeholder="Confirmar Contraseña" id="exampleInputPassword1">
                        <label [hidden]="!validCamp" class="form-label text-danger">Este campo es obligatorio</label>
                        <label [hidden]="!userInvalid" class="form-label text-danger">El usuario ya esta en uso</label>
                      </div>

                      <div [hidden]="!contraConfir" class="alert alert-danger" role="alert">
                        No conciden las contraseñas
                      </div>
 
                      <div class="form-button mt-3">
                            <button id="submit" (click)="saveCliente()" type="submit" class="btn btn-primary">Register</button>
                      </div>
                   </form>
                </div>
            </div>
        </div>
    </div>
 </div>
 
 
  