<div class="form-body">
    <div class="row">
        <div class="form-holder">
            <div class="form-content">
                <div class="form-items">
                   <h3>Register Today</h3>
                   <p>Fill in the data below.</p>
                   <form class="requires-validation" novalidate>
 
                      <div class="col-md-12">
                         <input class="form-control" type="text" [(ngModel)]="nombre" [ngModelOptions]="{standalone: true}" name="floating_first_name" id="floating_first_name" placeholder="Nombre de la Sala" required>
                         <!-- <div class="valid-feedback">Username field is valid!</div>
                         <div class="invalid-feedback">Username field cannot be blank!</div> -->
                      </div>
 
                      <div class="col-md-12 mt-3">
                            <input class="form-control" type="number" [(ngModel)]="asiento" [ngModelOptions]="{standalone: true}" name="floating_email" id="floating_email" placeholder="Numero de Asientos" required>
                            <!-- <div class="valid-feedback">Email field is valid!</div>
                            <div class="invalid-feedback">Email field cannot be blank!</div> -->
                      </div>
 
                      <div class="col-md-12 mt-3">
                         <input class="form-control" type="time" [(ngModel)]="inicio" [ngModelOptions]="{standalone: true}" name="floating_last_name" id="floating_last_name" required>
                         <!-- <div class="valid-feedback">Email field is valid!</div>
                         <div class="invalid-feedback">Email field cannot be blank!</div> -->
                      </div>

                      <div class="col-md-12 mt-3">
                         <input class="form-control" type="time" [(ngModel)]="final" [ngModelOptions]="{standalone: true}" name="floating_last_name" id="floating_last_name" required>
                         <!-- <div class="valid-feedback">Email field is valid!</div>
                         <div class="invalid-feedback">Email field cannot be blank!</div> -->
                      </div>
 
                      <div class="input-group mb-3">
                        <label class="input-group-text" for="inputGroupSelect01">Tipo de Sala</label>
                        <select class="form-select" id="inputGroupSelect01" (change)="onComboboxChange($event)" [formControl]="nombreControl">
                          <option value="1">Normal</option>
                          <option value="2">3D</option>
                          <option value="3">Premiun</option>
                        </select>
                      </div>
 
                      <div class="form-button mt-3">
                            <button id="submit" (click)="saveCliente()" type="submit" class="btn btn-primary">Register</button>
                      </div>
                   </form>
                </div>
            </div>
        </div>
    </div>
 </div>
 
 
  