<form>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Nombre</label>
      <input type="email" [(ngModel)]="admin.nombre" [ngModelOptions]="{standalone: true}" name="floating_email" id="floating_email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      
    </div>

    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Apellido</label>
      <input type="text" [(ngModel)]="admin.apellido" name="apellido" class="form-control" id="exampleInputPassword1">
    </div>

    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Usuario</label>
      <input type="text" [(ngModel)]="admin.usuario" name="usuario" class="form-control" id="exampleInputPassword1">
      <label [hidden]="!userInvalid" class="form-label text-danger">El usuario ya esta en uso</label>
    </div>

    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">cedula</label>
      <input type="number" [(ngModel)]="admin.cedula" [ngModelOptions]="{standalone: true}" name="cedula" id="floating_email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>

    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Foto de Perfil</label>
      <input type="password" [(ngModel)]="admin.imagen" name="imagen" class="form-control" id="exampleInputPassword1">
    </div>

    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Correo Electronico </label>
      <input type="email" [(ngModel)]="admin.correo" [ngModelOptions]="{standalone: true}" name="floating_email" id="floating_email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <label [hidden]="!validEmail" class="form-label text-danger">Este campo es obligatorio</label>
      <label [hidden]="!invalidEmail" class="form-label text-danger">El formato de correo debe ser gmail.com</label>
      <label [hidden]="!regisEmail" class="form-label text-danger">El correo ya esta en uso</label>
    </div>

    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Pais</label>
      <input type="text" [(ngModel)]="admin.pais" name="pais" class="form-control" id="exampleInputPassword1">
    </div>

    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Estado</label>
      <input type="text" [(ngModel)]="admin.estado" [ngModelOptions]="{standalone: true}" name="estado" id="floating_email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>

    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Ciudad</label>
      <input type="text" [(ngModel)]="admin.ciudad" name="ciudad" class="form-control" id="exampleInputPassword1">
    </div>

    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Dirección</label>
      <input type="text" [(ngModel)]="admin.direccion" name="direccion" class="form-control" id="exampleInputPassword1">
    </div>

    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Número telefonico</label>
      <input type="number" [(ngModel)]="admin.telefono" [ngModelOptions]="{standalone: true}" name="telefono" id="floating_email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    
    <button type="submit" (click)="actualizar()" class="btn btn-primary">Guardar Cambios</button>
</form>