<div class="body-container p-4">

  <div class="form-body">
    <form>
  
      <div class="row mb-3">
        <div class="col">
          <div class="form-floating">
            <input type="text" class="form-control" id="floatingInput" [(ngModel)]="admin.nombre" name="nombre" placeholder="">
            <label for="floatingPassword">Nombre</label>
          </div>
  
        </div>
  
        <div class="col">
          <div class="form-floating">
            <input type="text" class="form-control" id="floatingInput" [(ngModel)]="admin.apellido" name="apellido" placeholder="">
            <label for="floatingPassword">Apellido</label>
          </div>
        </div>
  
      </div>
  
      <div class="row mb-3">
        
        <div class="col">
  
          <div class="form-floating">
            <input type="number" class="form-control" id="floatingInput" min="1" [(ngModel)]="admin.cedula" name="cedula" placeholder="">
            <label for="floatingPassword">Cedula</label>
          </div>
       </div>
        
       <!--  <div class="col">
          <label for="exampleInputPassword1" class="form-label">Foto de Perfil</label>
          <input type="file" [(ngModel)]="admin.imagen" name="imagen" class="form-control" id="exampleInputPassword1">
        </div> -->
        
        <div class="col">
  
          <div class="input-group">
            <span class="input-group-text">+56</span>
            <div class="form-floating">
              <input type="number" class="form-control" id="floatingInputGroup1" [(ngModel)]="admin.telefono" name="telefono" placeholder="">
              <label for="floatingInputGroup1">Telefono</label>
            </div>
          </div>
          
        </div>
  
      </div>
  
      <div class="row mb-3">
        
        <div class="col">
  
          <div class="form-floating">
            <input type="email" class="form-control" id="floatingInput" [(ngModel)]="admin.correo" name="correo" placeholder="">
            <label for="floatingPassword">Correo Electronico</label>
          </div>
          
          <label [hidden]="!validEmail" class="form-label text-danger">Este campo es obligatorio</label>
          <label [hidden]="!invalidEmail" class="form-label text-danger">El formato de correo debe ser gmail.com</label>
          <label [hidden]="!regisEmail" class="form-label text-danger">El correo ya esta en uso</label>
  
        </div>
        
        <div class="col">
  
          <div class="form-floating">
            <input type="text" class="form-control" id="floatingInput" [(ngModel)]="admin.usuario" name="usuario" placeholder="">
            <label for="floatingPassword">Usuario</label>
          </div>
  
          <label [hidden]="!userInvalid" class="form-label text-danger">El usuario ya esta en uso</label>
  
        </div>

  
      </div>
  
      <div class="row mb-3">
        
        <div class="col">
          <div class="form-floating">
            <input type="text" class="form-control" id="floatingInput" [(ngModel)]="admin.pais" name="pais" placeholder="" disabled >
            <label for="floatingPassword">País</label>
          </div>
        </div>
        
        <div class="col">
  
          <div class="form-floating">
            <input type="text" class="form-control" id="floatingInput" [(ngModel)]="admin.estado" name="estado" placeholder="" disabled >
            <label for="floatingPassword">Estado</label>
          </div>
          
        </div>
  
      </div>
  
      <div class="row mb-3">
        
        <div class="col">
          
          <div class="form-floating">
            <input type="text" class="form-control" id="floatingInput" [(ngModel)]="admin.ciudad" name="ciudad" placeholder="" disabled >
            <label for="floatingPassword">Ciudad</label>
          </div>

        </div>
        
        <div class="col">
  
          <div class="form-floating">
            <textarea [(ngModel)]="admin.direccion" name="direccion" class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
            <label for="floatingTextarea">Dirección</label>
          </div>
        </div>
  
      </div>
      
      <button type="submit" (click)="actualizar()" class="btn btn-primary">Guardar Cambios</button>
  </form>
  </div>

</div>



