<div class="card text-center m-5">
    <div class="card-header">
      Featured
    </div>
    <div class="d-flex border">
        <div class="p-2 flex-fill">Nombre</div>
        <div [(ngModel)]="admin.nombre" class="p-2 flex-fill">{{ admin.nombre }}</div>
    </div>
    <div class="d-flex border">
        <div class="p-2 flex-fill">Apellido</div>
        <div [(ngModel)]="admin.apellido" class="p-2 flex-fill">{{ admin.apellido }}</div>
    </div>
    <div class="d-flex border">
        <div class="p-2 flex-fill">CI</div>
        <div [(ngModel)]="admin.cedula" class="p-2 flex-fill">{{ admin.cedula }}</div>
    </div>
    <div class="d-flex border">
        <div class="p-2 flex-fill">Direccion</div>
        <div [(ngModel)]="admin.correo" class="p-2 flex-fill">{{ admin.correo }}</div>
    </div>
    <div class="d-flex border">
        <div class="p-2 flex-fill">Estado</div>
        <div [(ngModel)]="admin.pais" class="p-2 flex-fill">{{ admin.pais }}</div>
    </div>
    <div class="d-flex border">
        <div class="p-2 flex-fill">Ciudad</div>
        <div [(ngModel)]="admin.estado" class="p-2 flex-fill">{{ admin.estado }}</div>
    </div>
    <div class="d-flex border">
        <div class="p-2 flex-fill">Telefono</div>
        <div [(ngModel)]="admin.ciudad" class="p-2 flex-fill">{{ admin.ciudad }}</div>
    </div>
    <div class="d-flex border">
        <div class="p-2 flex-fill">Usuario</div>
        <div [(ngModel)]="admin.telefono" class="p-2 flex-fill">{{ admin.telefono }}</div>
    </div>


    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
    <div class="card-footer text-body-secondary">
      2 days ago
    </div>
</div>

